
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');
body{
    background-color: lightyellow ;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.emoji-face{
    height: 100px;
    width: 100px;
    background-color: #F2DD68;
    
    border-radius: 50%;
    box-shadow:         5px 5px 6px 0px rgba(50, 50, 50, 0.7);
    position: relative;
}
.eye1{
    height: 11px;
    width: 12px;
    background-color: #995710;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 20px;
}
.eye2{
    height: 11px;
    width: 12px;
    background-color: #995710;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 70px;
}
.mouth{
    height: 34px;
    width: 70px;
    background-color: #995710;
    border-radius: 0 0 90px 90px;
    position: absolute;
    top: 52px;
    left: 16px;
    overflow: hidden;
}
.tongue{
    height: 38px;
    width: 38px;
    background-color:#e25d5d  ;
    border-radius: 40%;
    position: absolute;
    top: 20px;
    left: 15px;
}
.mouth-shock{
    background: #995710;
    height: 25px;
    width: 23px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 40px;
}

.mouth-speechless{
    background: #995710;
    height: 5px;
    width: 70px;
    position: absolute;
    top: 60px;
    left: 16px;
}
.wrapper{
    position: absolute;
    top: 150px;
    left: 650px;
}

.emoji-face{
    float: left;
    margin: 0px 20px 0px 0px ;
}

#heading{
    font-size: 4em;
}
h1{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

.emoji-face:hover{
    transform: scale(1.25);
}

.write-up{
    background-color: #d8aa2b;
    padding: 5% 10%;
    margin: 10% 20%;
    text-align: center;
    border-radius: 20px;
}
